In [ ]:

import sqlite3

# Conectando ao banco de dados em memória
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# --- CRIAÇÃO DAS TABELAS ---

# Criação da tabela 'clientes' (já existente)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS clientes (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT NOT NULL,
        idade INTEGER
    );
''')

# Criação da tabela 'itens' (já existente)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS itens (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        descricao TEXT NOT NULL,
        quantidade INTEGER,
        precocompra REAL
    );
''')

# Criação da tabela 'compras' (já existente)
cursor.execute('''
    CREATE TABLE IF NOT EXISTS compras (
        idcompra INTEGER PRIMARY KEY AUTOINCREMENT,
        idCliente INTEGER NOT NULL,
        idItem INTEGER NOT NULL,
        quantidade INTEGER,
        precovenda REAL,
        FOREIGN KEY (idCliente) REFERENCES clientes(id),
        FOREIGN KEY (idItem) REFERENCES itens(id)
    );
''')

# Criação de uma nova tabela 'fornecedores'
cursor.execute('''
    CREATE TABLE IF NOT EXISTS fornecedores (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nome TEXT NOT NULL,
        contato TEXT
    );
''')

# Criação de uma tabela de 'estoques', que mantém o controle do estoque atualizado
cursor.execute('''
    CREATE TABLE IF NOT EXISTS estoques (
        idItem INTEGER PRIMARY KEY,
        quantidade_estoque INTEGER,
        FOREIGN KEY (idItem) REFERENCES itens(id)
    );
''')

# Criação de uma tabela para 'promoções', que pode gerenciar ofertas especiais para clientes
cursor.execute('''
    CREATE TABLE IF NOT EXISTS promocoes (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        descricao TEXT NOT NULL,
        desconto REAL,
        validade DATE
    );
''')

# --- INSERÇÃO DE DADOS ---

# Inserção de dados na tabela 'clientes' (dados mais diversos)
cursor.execute('''
    INSERT INTO clientes (nome, idade)
    VALUES
    ('Carlos', 28),
    ('Fernanda', 32),
    ('Rafael', 26),
    ('Beatriz', 35),
    ('Lucas', 22),
    ('Eduardo', 29),
    ('Juliana', 33),
    ('Marcos', 40),
    ('Roberta', 31),
    ('Tatiane', 27);
''')
conn.commit()

# Inserção de dados na tabela 'itens' (produtos eletrônicos)
cursor.execute('''
    INSERT INTO itens (descricao, quantidade, precocompra)
    VALUES
    ('Smartphone', 50, 1500.00),
    ('Notebook', 30, 3000.00),
    ('Fone de Ouvido', 100, 200.00),
    ('Tablet', 40, 1200.00),
    ('Câmera Digital', 20, 2500.00),
    ('Smartwatch', 60, 800.00),
    ('TV LED', 25, 4000.00),
    ('Caixa de Som', 70, 300.00),
    ('Mouse', 200, 50.00),
    ('Teclado', 150, 120.00);
''')
conn.commit()

# Inserção de dados na tabela 'compras' (compras realizadas pelos clientes)
cursor.execute('''
    INSERT INTO compras (idCliente, idItem, quantidade, precovenda)
    VALUES
    (1, 1, 1, 1700.00),
    (2, 2, 1, 3200.00),
    (3, 3, 2, 400.00),
    (4, 4, 1, 1300.00),
    (5, 5, 1, 2600.00),
    (6, 6, 1, 850.00),
    (7, 7, 1, 4300.00),
    (8, 8, 3, 900.00),
    (9, 9, 1, 55.00),
    (10, 10, 1, 120.00);
''')
conn.commit()

# Inserção de dados na tabela 'fornecedores'
cursor.execute('''
    INSERT INTO fornecedores (nome, contato)
    VALUES
    ('Fornecedor A', '1234-5678'),
    ('Fornecedor B', '9876-5432'),
    ('Fornecedor C', '1122-3344');
''')
conn.commit()

# Inserção de dados na tabela 'estoques'
cursor.execute('''
    INSERT INTO estoques (idItem, quantidade_estoque)
    VALUES
    (1, 100),
    (2, 50),
    (3, 150),
    (4, 70),
    (5, 30),
    (6, 120),
    (7, 40),
    (8, 90),
    (9, 250),
    (10, 180);
''')
conn.commit()

# Inserção de dados na tabela 'promoções'
cursor.execute('''
    INSERT INTO promocoes (descricao, desconto, validade)
    VALUES
    ('Promoção de Smartphone', 0.10, '2025-12-31'),
    ('Desconto em Notebooks', 0.15, '2025-11-30'),
    ('Desconto em Fones de Ouvido', 0.05, '2025-08-31');
''')
conn.commit()

# CONSULTAS
# (Por brevidade, esta parte foi encurtada.)